In [ ]:
# Q1 
Var1 = 'Name'
Var2 = [10,'Name',1.2,true]
Var3 = 21.2
Var4 = {10,'Name',1.2,false}

# Q2
i  - String
ii - String
iii- List
iv - Float

In [ ]:
# Q3
A = 50
B = 10
# (/) is used for divide a number 
print A/B
# (%) is used to print only reminder values 
print A%B
# (//) is used to print only floor value . it give value in intergers datatypes
print A//B
# (**) is used to multiply the number in powers
print A**B

In [ ]:
# Q4
List1 =[ 1,21,52,2.6,true,"name","Date",2+8j,58,963]
for i in List1:
    print (i , type(i))

In [ ]:
# Q5
A = 100
B = 10
while A%B==0:
    print A%B

In [ ]:
# Q6
List1 = [12,21,45,25,20,12,78,52,78,87,123,78,544,78,96,52,33,66,65,45,15,45,45,8,96]
for i in List1:
    if i%3==0:
        print (i ,"is divisle by 3")
    else:
        print (i ,"is  not divisle by 3")

In [ ]:
# Q7
# An object that allows you to change its values without changing its identity is a mutable object . for example list,sets
list1 =[12,25,32]
list1[0] = 20
print (list1)

# An object that does not allows you to change its values without changing its identity is a immutable object for example strng, tuple.
list1 ={12,25,32}
list1[0] = 20
print (list1)
# it shows error